<!DOCTYPE html>
<html>
<head>
    <title>Car Price Predictor</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="background"></div>

<div class="container">

    <h1>🚗 AI Car Price Predictor</h1>

    <form action="/predict" method="POST">

        <input type="text" name="brand"
        placeholder="Brand" required>

        <input type="text" name="model"
        placeholder="Model" required>

        <input type="number" name="year"
        placeholder="Year" required>

        <input type="number" name="km"
        placeholder="KM Driven" required>

        <input type="text" name="fuel"
        placeholder="Fuel Type" required>

        <input type="text" name="owner"
        placeholder="Owner Type" required>

        <input type="number" name="seats"
        placeholder="Seats" required>

        <button type="submit">
            Predict Price
        </button>

    </form>

    {% if prediction %}

    <div class="result">

        <h2>{{ prediction }}</h2>

        <div class="view-data">

            <h3>Entered Data</h3>

            <p>Brand : {{ form_data.brand }}</p>
            <p>Model : {{ form_data.model }}</p>
            <p>Year : {{ form_data.year }}</p>
            <p>KM Driven : {{ form_data.km }}</p>
            <p>Fuel : {{ form_data.fuel }}</p>
            <p>Owner : {{ form_data.owner }}</p>
            <p>Seats : {{ form_data.seats }}</p>

        </div>

    </div>

    {% endif %}

</div>

</body>
</html>